@model List<ApplicationRole>
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Basic Table</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" href="#">Tables</a>
                <span class="breadcrumb-item active">Basic Table</span>
            </nav>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="m-t-25">
                <div class="table-responsive">
                    <table id="tblData" class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Phân quyền</th>
                                <th scope="col">Mô tả</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var datatbl;
        $(document).ready(function () {
            loadDataTable();
        });
        function loadDataTable() {
            datatbl = $('#tblData').DataTable({
                'ordering': true,
                'order': [[2, 'desc']],
                'paging': false,
                'searching': true,
                'info': false,
                'autoWidth': false,
                'lengChange': false,
                'bordering': false,
                "ajax": { url: '/admin/role/getall' },
                "columns": [
                    { data: 'name', "width": "20%" },
                    { data: 'description', "width": "25%" },
                    {
                        data: 'id',
                        "render": function (data) {
                            return ` <div class="w-75 btn-group" role="group">
                                                <a href="/admin/role/edit?id=${data}" class="btn btn-primary btn-tone m-r-5">
                                                           <i class="anticon anticon-edit"></i>
                                                </a>
                                                    <a onClick=Delete('/admin/role/delete/${data}') class="btn btn-danger btn-tone m-r-5 delete-btn">
                                                            <i class="anticon anticon-delete"></i>
                                                </a>
                                            </div>`
                        },
                        "width": "10%"
                    },
                ]
            });
        }

        function Delete(url) {
            Swal.fire({
                title: 'Bạn có muốn xoá?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Đồng ý!',
                cancelButtonText: "Huỷ"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            datatbl.ajax.reload();
                            toastr.success(data.message);
                        }
                    })
                }
            })
        }
    </script>
}