<div class="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="bread"><span><a asp-action="Index" asp-controller="Home">Trang chủ</a></span> / <span>Giới thiệu</span></p>
			</div>
		</div>
	</div>
</div>


<div class="colorlib-about">
	<div class="container">
		<div class="row row-pb-lg">
			<div class="col-sm-6 mb-3">

					<img src="~/client-site/images/about2.jpg" width="500px" height="600px"/>
					<div class="overlay"></div>
		
			</div>
			<div class="col-sm-6">
				<div class="about-wrap">
					<h2>Tìm Mua Áo Đấu Thành Phẩm Thiết Kế Cao Cấp Chất Lượng Nhất?</h2>
					<p>
						<strong>
							Bạn đang có ý định tìm mua cho mình mẫu áo đấu thành phẩm thiết kế cao cấp chất lượng.
							Tuy nhiên, trên thị trường các sản phẩm áo đấu được bày bán tràn lan nên bạn rất khó để phân biệt đâu là hàng cao cấp,
							chất lượng, đâu là hàng giả, hàng nhái. Đừng lo lắng nhé, hãy đến với SoccerStyle, đây là địa chỉ cung cấp áo đấu uy tín và
							chất lượng nhất trên thị trường hiện nay.
						</strong>.
					</p>
				</div>
			</div>
			<div>

			</div>
		</div>
	</div>
</div>