@model RoleManagementVM

<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Sản phẩm</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Dashboard</a>
                <span class="breadcrumb-item active">Quản lý sản phẩm</span>
            </nav>
        </div>
    </div>

    <form method="post">
        <input asp-for="ApplicationUser.Id" type="hidden" />
        <div class="page-header no-gutters has-tab">
            <div class="d-md-flex align-items-center justify-content-between">
                <div class="media align-items-center m-l-15">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">
                        <i class="anticon anticon-save"></i>
                        <span>Cập nhật</span>
                    </button>
                </div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Thông tin</a>
                </li>       
            </ul>
        </div>
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-edit-basic">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="font-weight-semibold" asp-for="ApplicationUser.Email">Sản phẩm</label>
                            <input type="text" class="form-control" readonly asp-for="ApplicationUser.Email" placeholder="Tên sản phẩm" />
                            <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ApplicationUser.Role" class="ms-2">Danh mục</label>
                            <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-control">
                            </select>
                            <span asp-validation-for="ApplicationUser.Role" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
